header{
    margin: 20px;
}

.header-Logo{
    max-width: 100px;
    max-height: 100px;
}

.header-left{
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
}

.header-left h1{
    margin: auto;
}

.header-right{
    float: right;
    margin: auto;
    margin-right: 10%;
}

.header-container{
    display: flex;
}

.header-button{
    padding: 15px 25px;
    border: solid 3px rgb(85, 85, 152);
    color: rgb(85, 85, 152);
    border-radius: 15px;

}
